:root {
  --white: #fff;
  --light_purple: #532e8f;
  --lighter_purple: #773db9;
  --light_cyan: #216999;
  --lighter_cyan: #a0d9ffdc;
  --bluish_black: #2c3e50;
  --light_bluish_black: #415569;
  --light_bluish_black_trans: #415569d2;
  --light_leaf: #a5d6a7;
  --dark_purple: #370e3f;
}
